.venv
cookie.txt
__pycache__/

# Python
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
__pycache__/
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/

# dotenv
.env

# Docker
.dockerignore

# OS
.DS_Store

# Local VSCode settings
.vscode/

SPACES_README.md
